* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  color: rgb(200, 200, 200);
}
/*Navigation Bar*/
.icone {
  width: 24px;
  color: rgb(200, 200, 200);
  height: 24px;
  padding: 12px;
}
.text-nav:hover {
  color: rgb(200, 200, 200);
  font-weight: 900;
}

.icone:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background 0.5s;
  border-radius: 50%;
}

.navigation {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
}
.texto-nav > li > a {
  color: rgb(200, 200, 200);
}

.logo {
  text-align: center;
}

@media (max-width: 990px) {
  .navbar-brand > img {
    display: none;
  }
  .desktop-icon {
    display: none;
  }
}

@media (min-width: 990px) {
  .mobile-icons {
    display: none;
  }
}

/*Header*/
#photo {
  margin-bottom: 50px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

.foto-felipe {
  text-align: center;
}

.perfil {
  padding: 150px 20px 0;
}

.text-perfil > p {
  line-height: 2em;
}

/*body {
  background-color: rgb(70, 70, 70);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

.navigation {
  list-style: none;
  list-style-type: none;
  overflow: hidden;
}

.navigation > li {
  float: left;
  padding: 0 16px;
}
.navigation > li > a {
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
}

#photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

#bio {
  padding: 0 20%;
  text-align: justify;
  line-height: 1.5em;
}

.skills {
  display: inline-block;
  margin: 30px;
  text-align: left;
  font-size: 1.1em;
}
.skills > ul {
  padding-left: 0;
}

.skills > ul > li {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
*/
